.WeatherForecast {
  text-align: center;
  margin-top: 20px;
}

.WeatherForecast .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.WeatherForecast .col {
  flex: -1 0 auto;
  text-align: center;
  margin: 0 5px;
}

.WeatherForecast-day {
  font-size: 18px;
  color: #333;
  padding: 15px;
  margin: 10px;
  margin-bottom: -17px;
  flex: 1 0 150px;
  text-align: center;
  transition: transform 0.2s ease;
}

.WeatherForecast-temp {
  margin-top: 5px;
}

.WeatherForecast-temp .max {
  font-weight: bold;
  color: #444343;
}

.WeatherForecast-temp .min {
  color: #ff9b83 !important;
}

.forecast-day {
  padding: 5px;
  border-radius: 8px;
  margin: 5px;
}
