.WeatherInfo .row {
  align-items: center;
}

.WeatherInfo .col-6.text-end {
  text-align: right;
}

.WeatherTemperature .temperature {
  font-size: 64px;
  font-weight: bold;
  color: rgb(33, 33, 33);
  line-height: 60px;
  margin-top: 20px;
  display: inline-block;
  vertical-align: middle;
}
